---
---

@import "{{ site.theme }}";

/* Header background */
.page-header {
  background-color: #8FBC8F;
  background-image: none;
}

/* Header text */
.project-name,
.project-tagline {
  color: #FFF8DC;
}

/* Page background */
body {
  background-color: #2F4F4F;
}
